@model BanqueTardi.DTO.AssuranceTardiBodyDTO



@{
    ViewData["Title"] = "Edit";
}

<h1>Modification</h1>


<h4>Client</h4>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="AssuranceClients" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="id" value="@ViewBag.Id" type="hidden" />
           
            <div class="form-group">
                <label class="control-label">Client</label>
                <select asp-for="ClientID" class="form-select" asp-items="ViewBag.Client" aria-label="Default select example">
                    <option value="">-- Selectionner un client --</option>
                </select>
                 @* <span asp-validation-for="FullName" class="text-danger"></span> *@ 
            </div> 
            <div class="form-group">
                <label asp-for="Solde" class="control-label"></label>
                <input asp-for="Solde" class="form-control" />
                <span asp-validation-for="Solde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexe" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choisir un sexe</option>
                    <option value="1">Masculin</option>
                    <option value="2">Féminin</option>
                </select>
                <span asp-validation-for="Sexe" class="text-danger"></span>
            </div>

            <div>
                <label>Est fumeur?</label>
                <input type="checkbox" asp-for="EstFumeur" />
            </div>
            <div>
                <label>Est diabetique?</label>
                <input type="checkbox" asp-for="EstDiabetique" />
            </div>
            <div>
                <label>Est hypertendu?</label>
                <input type="checkbox" asp-for="EstHypertendu" />
            </div>
            <div>
                <label>Pratique une activité physique?</label>
                <input type="checkbox" asp-for="PratiqueActivitePhysique" />
            </div>




            <div class="form-group">
                <input type="submit" value="Enregister" class="btn btn-primary" style="margin-right:50px" />
                <a asp-action="Index" asp-controller="AssuranceClients">Liste des contrats</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
