@model BanqueTardi.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Inscrire un nouveau client</h1>


<h4>Client</h4>
@if (ViewBag.Message != null)
{
    <span class="text-danger">@ViewBag.Message</span>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <input asp-for="ClientID" class="form-control" readonly/>
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomClient" class="control-label"></label>
                <input asp-for="NomClient" class="form-control" />
                <span asp-validation-for="NomClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomClient" class="control-label"></label>
                <input asp-for="PrenomClient" class="form-control" />
                <span asp-validation-for="PrenomClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal" class="control-label"></label>
                <input asp-for="CodePostal" class="form-control" />
                <span asp-validation-for="CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            @if (ViewBag.MineurMessage != null)
            {
                <div class="form-group">
                    <label asp-for="NomParent" class="control-label"></label>
                    <input asp-for="NomParent" class="form-control" />
                    <span asp-validation-for="NomParent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelephoneParent" class="control-label"></label>
                    <input asp-for="TelephoneParent" class="form-control" />
                    <span asp-validation-for="TelephoneParent" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
