
<div class="container" style="justify-content:center">
	<div class="d-grid gap-2 col-6 mx-auto" >
		<a class="btn btn-primary" asp-controller="Interet" asp-action="Envoyer">Lancer le calcul des intêrets</a>
	</div>
</div>